<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhotoCopier.PhotoCopier" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PhotoCopier.PhotoCopier>
            <setting name="Extensions" serializeAs="String">
                <value>ARW</value>
            </setting>
            <setting name="Destination" serializeAs="String">
                <value>D:\Photos</value>
            </setting>
            <setting name="FolderName" serializeAs="String">
                <value>yyyyMMdd</value>
            </setting>
            <setting name="CopyCompanionFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VerifyChecksums" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverwriteExisting" serializeAs="String">
                <value>False</value>
            </setting>
        </PhotoCopier.PhotoCopier>
    </userSettings>
</configuration>